<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                Menu de funcionalidades
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="sheet">
        <button class="button_outline" (click)="cadastrar_produto()">Cadastrar produto</button><br>
        <button class="button_outline" (click)="marcar_tarefa_concluida()">Marcar tarefa como concluida</button><br>
        <button class="button_outline" (click)="ordenando_por_prioridade = !ordenando_por_prioridade">Ordenar tarefas por prioridade</button><br>
        <div id="ordenar_por_prioridade" *ngIf="ordenando_por_prioridade" class="mostrar">
            <p *ngFor="let item of ordenar_por_prioridade()">
                {{ item.titulo }} - prioridade {{ item.prioridade}}
            </p>
        </div>
        <button class="button_outline" (click)="ir_para('/home')">
            Menu de interação
        </button>
    </div>
</ion-content>