
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                Menu de interação
            </ion-title>
        </ion-toolbar>
    </ion-header>

<div class="sheet">
    <button class="button_outline" (click)="listando_produtos = !listando_produtos">Listar Produtos</button><br>
    <div id="listar_rodutos" *ngIf="listando_produtos">
        <table>
            <tr>
                <th>id</th>
                <th>Nome</th>
                <th>preço</th>
                <th>Quantidade em estoque</th>
            </tr>
            <tr *ngFor="let item of dataService.Produtos">
                <td>{{ item.id}} </td> 
                <td>{{ item.nome }} </td>
                <td>{{ formatarpreco(item.preco) }} </td> 
                <td>{{ item.estoque }} </td>
            </tr>
        </table>
    </div>

    <button class="button_outline" (click)="calculando_total_estoque = !calculando_total_estoque">Calcular valor total do estoque</button><br>
    <div id="calcular_total_estoque" *ngIf="calculando_total_estoque" class="mostrar">
        <p>
            a soma do valor de todos os produtos em estoque é:<br>
            {{ formatarpreco(calcular_total_estoque()) }}
        </p>
    </div>

    <button class="button_outline" (click)="listando_tarefas = !listando_tarefas">Listar Tarefas</button><br>
    <div id="listar_tarefas" *ngIf="listando_tarefas" class="mostrar">
        <table>
            <tr>
                <th>id</th>
                <th>Titulo</th>
                <th>Status</th>
                <th>Prioridade</th>
                <th>Data de cadastro</th>
            </tr>
            <tr *ngFor="let item of dataService.Tarefas">
                <td>{{ item.id}} </td> 
                <td>{{ item.titulo }} </td>
                <td *ngIf="item.concluida; else naoconcluida">Concluída</td>
                <ng-template #naoconcluida><td>Pendente</td></ng-template> 
                <td>{{ item.prioridade }} </td>
                <td>{{item.dataCriacao}}</td>
            </tr>
        </table>
    </div>

    <button class="button_outline" (click)="filtrando_tarefas = !filtrando_tarefas">Listar Tarefas concluidas</button><br>
    <div id="filtrar_tarefas" *ngIf="filtrando_tarefas" class="mostrar">
        <table>
            <tr>
                <th>id</th>
                <th>Titulo</th>
                <th>Status</th>
                <th>Prioridade</th>
                <th>Data de cadastro</th>
            </tr>

            <ng-container *ngFor="let item of dataService.Tarefas">
            <tr *ngIf="item.concluida === true">
                <td>{{ item.id}} </td> 
                <td>{{ item.titulo }} </td>
                <td *ngIf="item.concluida; else naoconcluida">Concluída</td>
                <ng-template #naoconcluida><td>Pendente</td></ng-template> 
                <td>{{ item.prioridade }} </td>
                <td>{{item.dataCriacao}}</td>
            </tr>
            </ng-container>

        </table>
    </div>

    <button class="button_outline" (click)="filtrando_tarefas2 = !filtrando_tarefas2">Listar Tarefas não concluidas</button><br>
    <div id="filtrar_tarefas2" *ngIf="filtrando_tarefas2" class="mostrar">
        <table>
            <tr>
                <th>id</th>
                <th>Titulo</th>
                <th>Status</th>
                <th>Prioridade</th>
                <th>Data de cadastro</th>
            </tr>

            <ng-container *ngFor="let item of dataService.Tarefas">
            <tr *ngIf="item.concluida === false">
                <td>{{ item.id}} </td> 
                <td>{{ item.titulo }} </td>
                <td *ngIf="item.concluida; else naoconcluida">Concluída</td>
                <ng-template #naoconcluida><td>Pendente</td></ng-template> 
                <td>{{ item.prioridade }} </td>
                <td>{{item.dataCriacao}}</td>
            </tr>
            </ng-container>

        </table>
    </div>

    <button class="button_outline" (click)="contando_por_prioridade = !contando_por_prioridade">Contar tarefas por prioridade</button><br>
    <div id="contagem_por_prioridade" *ngIf="contando_por_prioridade" class="mostrar">
        
        <p [innerHTML]="contagem_por_prioridade()"></p>

    </div>

        <button class="button_outline" (click)="ir_para('/funcionalidades')">
            Menu de funcionalidades
        </button>
        
    </div>
</ion-content>