
button{
    background-color: white;
    border: solid, blue;
    border-radius: 10%;
    padding: 6px;
}

th{
    padding: 5px;
    border: solid, 1px, black;
}

td{
    padding: 5px;
    border: solid, 1px, black;
}
